@model KuProStore.UI.ViewModel.ProductsViewModel

@{
    Layout = "~/Views/_BasicLayout.cshtml";
    AjaxOptions options = new AjaxOptions()
    {
        HttpMethod = "get",
        UpdateTargetId = "result"
    };
}

<div>
    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("AddProduct", "Home")'" style="margin-left:auto;margin-right:auto;display:block;width:200px;height:60px"><strong>Разместить объявление</strong></button>
    <br />
</div>

@using (Ajax.BeginForm("Cabinet", "Account", options))
{
    <div class="container" style="margin-left:15%">
        <div class="row">
            <div class="col-xs-16">
                <div class="col-xs-7">
                    <div class="input-group">
                        <input type="text" name="filter" class="form-control" value="@Model.Filter" placeholder="Товар..." />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" id="submit_btn" type="submit">Поиск</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top:10px">
            <div class="col-sm-2">
                @Html.TextBoxFor(x => Model.TownName, new { @class = "form-control", @Value = Model.TownName, @placeholder = "Город", data_autocomplete_source = Url.Action("AutoCompleteTownSearch", "Home", new { term = Model.TownName, term2 = Model.RegionId }) })
            </div>
            <div class="col-sm-2">
                @Html.DropDownListFor(m => m.Regions, new SelectList(Model.Regions, "ID", "RegionName"), new { @id = "#region", @class = "form-control" })
            </div>
            <div class="col-sm-2">
                @Html.DropDownListFor(m => m.SearchOptions, new SelectList(Model.SearchOptions, "Option"), new { @class = "form-control" })
            </div>
            <div class="col-sm-2">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.IncludeInactive) +Неакт.    
                    </label>  
                </div>
            </div>
        </div>
    </div>
}

<br />
<div class="container">
    <div class="col-sm-9" id="result" style="padding-left:5%">
        <h4 style="margin-left:20px"><strong>Мои объявления:</strong></h4>
        
        @Html.Partial("~/Views/Account/_PartialProducts.cshtml", Model)
    </div>

    <div class="col-sm-3">        
        <h4 style="margin-left:20px"><strong>Моя информация:</strong></h4>
        <div class="well" style="font-size:125%">            
            <strong>Имя:</strong>
            <br>
            <text>@Model.User.FirstName</text>
            <br />
            <strong>Фамилия:</strong>
            <br>
            <text>@Model.User.LastName</text>
            <br />
            <strong>E-mail:</strong>
            <br>
            <text>@((Model.User.Email == null) ? "" : Model.User.Email)</text>
            <br />
            <strong>Телефон:</strong>
            <br>
            <text>@(Model.User.ContactPhone)</text>
            <br />
            <strong>Контактные данные:</strong>
            <br>
            <text>@((Model.User.ContactInfo == null) ? Model.User.ContactPhone : Model.User.ContactInfo)</text>
            <br>
            @Html.ActionLink("Редактировать", "EditUser", "Account", new { userId = Model.User.UserId}, new { @class = "btn btn-primary" }) 
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        $(function () {
            $("[data-autocomplete-source]").each(function () {
                var target = $(this);
                target.autocomplete({ minLength: 3,
                source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("AutoCompleteTownSearch", "Home")',
                    dataType: "json",
                    data: {
                        town : request.term,
                        region : document.getElementById('#region').value,
                    },
                    success: function(data) {
                        response(data);
                    }
                   });
                }

                });
            });
        });
    </script>
<script type="text/javascript">
            var item_to_delete;
            $(".deleteItem").click(function(e) {
                item_to_delete = $(this).data('id');
            });
            $('#btnContinueDelete').click(function () {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteProduct", "Account")',
                    dataType: "json",
                    data: {
                        productId : item_to_delete,                        
                    },
                    success: function(result)
                    {
                        location.reload();
                    }
                   });
            });
</script>   
}
